/* Importing material theme from angular material theme */
@import '@angular/material/theming';
// Includes the mat-core styles from a library in the current code file.
@include mat-core();

// Creating a custom color palette
$custom-app-primary: mat-palette($mat-blue);
$custom-app-accent: mat-palette($mat-indigo, A200, A400, 700);
$custom-app-warn: mat-palette($mat-red);

// Creating a custom theme using the new color palette
$custom-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

// Using the new custom theme
@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
